<div class="enSavoirPLus">
    <div class="close">
        <i class="fas fa-times"></i>
    </div>
    <a href="" class="logo"><i class="fas fa-store"></i> <span>shoppy</span></a>
    <h2 class="titreh2">POUR EN SOUR PLUS SUR <span>NOUS</span></h2>
    <h3>Historique</h3>
    <p class="histo">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt itaque optio dolorem. Placeat eos voluptate voluptatum velit sunt facilis aspernatur praesentium debitis sequi odit, iste autem eius qui illo ipsum vel doloremque nobis quam sed dignissimos soluta exercitationem eveniet accusamus eum! Velit eaque perspiciatis reiciendis deleniti quae consequatur saepe repellendus.</p>

    <div class="proprietaire">
        <div class="containt">
            <h2>Aud Mbag</h2>
            <h3>Propriétaire</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt non optio, fugit deleniti architecto numquam aperiam eligendi ullam? Excepturi quisquam molestias voluptatem, aperiam et ad saepe magni nihil cupiditate reiciendis.</p>
            <div class="medias">
                <a href=""><i class="fab fa-facebook-f"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fas fa-envelope"></i></a>
            </div>
        </div>
        <div class="image">
            <img src="../images/avis/avis7.png">
        </div>
    </div>
    <div class="equipe">
        <h2>Chefs des postes</h2>
        <div class="imges">
            <div class="img">
                <img src="../images/avis/avis1.png">
                <div class="contact">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
                <h2 class="nom">Chris Evens</h2>
            </div>
            <div class="img">
                <img src="../images/avis/avis2.png">
                <div class="contact">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
                <h2 class="nom">Jordan Michel</h2>
            </div>
            <div class="img">
                <img src="../images/avis/avis3.png">
                <div class="contact">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
                <h2 class="nom">John Snow</h2>
            </div>
            <div class="img">
                <img src="../images/avis/avis4.png">
                <div class="contact">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
                <h2 class="nom">Smith Jaden</h2>
            </div>
        </div>
    </div>

    <div class="peids">
        <div class="adresse">
            <h2>Informations</h2>
            <div class="lieux">
                <i class="fas fa-map"></i>
                <p>Bagira, Bukavu/RDC</p>
            </div>
            <div class="num">
                <i class="fas fa-phone-alt"></i>
                <p>+243 995 399 340</p>
            </div>
            <div class="mail">
                <i class="fas fa-envelope"></i>
                <p>audmbag@gmail.com</p>
            </div>
        </div>

        <div class="shoppy">
            <h2>Nos avantages</h2>
            <p><i class="fas fa-check"></i> <span>Rapidité de livraison</span></p>
            <p><i class="fas fa-check"></i> <span>Facilités d'achat</span></p>
            <p><i class="fas fa-check"></i> <span>Multiples payements</span></p>
        </div>

        <div class="boutons">
            <h2>Suivez-nous</h2>

            <div class="medias">
                <a href=""><i class="fab fa-facebook-f"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
                <a href=""><i class="fab fa-linkedin-in"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
            </div>

            <a href="contact.html" class="btn"><span>contact</span> <i class="fas fa-phone"></i></a>
        </div>
    </div>

    <div class="copyright">
        <span>&copy;2022</span> <span></span> <span>aud-design</span> <span>tous droits reservés</span>
    </div>
</div>