<div class="news_letter">
    <div class="news_letter_container">
        <h2>REJOIGNEZ LA NEWS-LETTER</h2>
        <input type="mail" placeholder="Entrez votre adresse mail">
        <button type="button">S'inscrire</button>
    </div>
</div>
<div class="footer">
    <div class="medias">
        <h2>Suivez-nous</h2>
        <a href=""><i class="fab fa-facebook-f"></i> <span>Facebook</span></a>
        <a href=""><i class="fab fa-whatsapp"></i><span>Whatsapp</span></a>
        <a href=""><i class="fab fa-instagram"></i><span>Instagram</span></a>
        <a href=""><i class="fab fa-twitter"></i><span>Twitter</span></a>
        <a href=""><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
        <a href=""><i class="fab fa-pinterest"></i><span>Pinterest</span></a>
    </div>
    <div class="liens">
        <h2>Liens raccourcis</h2>
        <a href="/pages/a_propos.html"><i class="fas fa-angle-right"></i><span>A propos</span></a>
        <a href="/pages/produits.html"><i class="fas fa-angle-right"></i><span>Produits</span></a>
        <a href="/pages/blogs.html"><i class="fas fa-angle-right"></i><span>Blogs</span></a>
        <a href="/pages/contact.html"><i class="fas fa-angle-right"></i><span>Contact</span></a>
        <a href="/pages/connexion.html"><i class="fas fa-angle-right"></i><span>Se connecter</span></a>
        <a href="/pages/inscrpition.html"><i class="fas fa-angle-right"></i><span>s'inscrire</span></a>
    </div>
    <div class="adresse">
        <h2>Informations</h2>
        <div class="lieux">
            <i class="fas fa-map"></i>
            <p>Bagira, Bukavu/RDC</p>
        </div>
        <div class="num">
            <i class="fas fa-phone-alt"></i>
            <p>+243 995 399 340</p>
        </div>
        <div class="mail">
            <i class="fas fa-envelope"></i>
            <p>audmbag@gmail.com</p>
        </div>
    </div>

    <div class="shoppy">
        <h2>Nos avantages</h2>
        <p><i class="fas fa-check"></i> <span>Livraison à domicile</span></p>
        <p><i class="fas fa-check"></i> <span>Rapidité de livraison</span></p>
        <p><i class="fas fa-check"></i> <span>Qualité assurée</span></p>
        <p><i class="fas fa-check"></i> <span>Facilités d'achat</span></p>
        <p><i class="fas fa-check"></i> <span>Multiples payements</span></p>
        <p><i class="fas fa-check"></i> <span>Prix abordable</span></p>
    </div>
</div>
<div class="copyright">
    <span>&copy;2022</span> <span></span> <span>aud-design</span> <span>tous droits reservés</span>
</div>