<a href="#nav" class="lien_haut_page"><i class="fas fa-arrow-up"></i></a>

<div class="navigation">
    <a href="" class="logo"><i class="fas fa-store"></i> <span>shoppy</span></a>

    <search-product></search-product>

    <div class="icones">
        <i class="fas fa-bars"></i>
        <i class="fas fa-search" style="display: none;"></i>

        <cart-btn></cart-btn>

        <a href="/pages/connexion.html"><i class="fas fa-user"></i></a>
    </div>

    <div class="links">
        <i class="fas fa-times"></i>
        <h2 class="logo"><i class="fas fa-store"></i> <span>shoppy</span></h2>
        
        <div class="liens">
            <a href="/">Accueil</a>
            <a href="/pages/a_propos.html">A propos</a>
            <a href="/pages/produits.html">Produits</a>
            <a href="/pages/blogs.html">Blogs</a>
            <a href="/pages/contact.html">Contact</a>
            <a href="/pages/connexion.html">Se connecter</a>
            <a href="/pages/inscrpition.html">s'inscrire</a>
            <a href="/pages/panier.html">Panier</a>
        </div>

        <div class="medias">
            <a href=""><i class="fab fa-facebook-f"></i></a>
            <a href=""><i class="fab fa-whatsapp"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-twitter"></i></a>
        </div>

        <div class="theme">
            <span>Sombre</span>
            <p></p>
            <span>Clair</span>
        </div>

        <div class="copy">
            <span>&copy; 2022</span>
            <span>aud-design</span>
            <span>tous droits reservés</span>
        </div>
    </div>
</div>